# Игнорировать все файлы, содержащие тильду
*~


# 20241610 ср
.vscode/
.pytest_cache

## 20241009 ср

.venv/
idea/
__pycache__/
private/

# 20241010
~$241007 Тестовое задание.docx
.gitignore

# 20241018
.~lock.ep20241018 ответ запроса по операциям одного пользователя тестовой БД.ods#
.~lock.ep20241018 ответ запроса на часть операций.ods#
